<<<< HEAD

@charset "utf-8";
/* CSS Document for Training Zone */                                                       /* Inherited properties (main ones): color
                                                                                                                                font-family, fonr-size, font-style, font-variant, font-weight, font, letter-spacing, 
                                                                                                                                line-height, orphans, text-align, text-indent, text-transform */
/* universal selectors                                                                                                          list-style-image, list-style-position, list-style-type, list-style                             
* {
    margin: 0;      This has a radical effect on the entire layout!!!!!                                                         N.B. font-size is inherited differently!!!!!
    padding: 0;                                                                                                                      default font-size is 16px   
}                                                                                                                                                                                                                             */                                                                                                                                 /*  p { font-size: 80%; } means the p element is 80% of 16 = 12.8px
/* body styles                                                                                                                         The calculated value of font-size is inherited , not the value itself  
This will remove any default margins and/or padding in browser.                                                                        i.e. 12.8px is inherited NOT 80%!!! 
*/
body {
    margin: 0;
    padding: 0;                                             /* ALWAYS set the font-size & font-family in body first!!!!! */
    font-family: lato, arial, helvetica, sans-serif;               /* font-size & font-family are inherited by ALL descendents */
    font-size: 90%;
    /* This is more efficient than repeating font-size & font-family */
    background: #cccccc url("images/sand.jpg");
    width: 1152px;
    height: 864px;
}                                                           /* for all descendents; BUT this can be overidden for any element by
/* nav styles */                                            /* specifying a different font-size & font-family for that element */ 
nav {
    padding: 2em 2em;                                       /* padding of 2em top & bottom and 2em left & right */
    color: #344D90;
    background: #FFB745;
    font-family: lato, arial, helvetica, sans-serif;
    text-align: right;
    border-radius: 0 0 12px 12px;
}
nav ul li {
    display:inline;
    margin-right: 5em;
}
nav a {
    color: #344D90;
    background: white;
    text-decoration: none;
    padding: 5px;
    width: 30em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
}
nav a:visited {                                             /* looks for any "a' element that has been clicked on by the user */
    color: #E7552C;
} 
nav a:focus {
    color: black
}
nav a:hover {
    color: #344D90;
}
nav a:active {
    color: deepskyblue
}
/* heading styles */
h1 {
    display: inline-block;
    margin: 0;   
    font-size: 3em;
    font-family: lato, arial, helvetica, sans-serif;
    text-align: center;
    color: #344D90;
    background: #FFB745;
    font-weight: bold;
    width: 100%; 
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
h2 {
    display: inline-block;
    font-size: 3em;
    font-family: lato, arial, helvetica, sans-serif;
    text-align: center;
    align-items: center;
    color: #344D90;
	background: #E7552C;
    font-weight: bold;
	width: 60%;
	float: inherit;		
    padding: 5px;
    border-radius: 6px;
}
h3 {
    font-size: 1.5em;
    font-family: lato, arial, helvetica, sans-serif;
    text-align: left;
    color:#344D90;
    background: #FFB745;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}
h4 {
	font-size: 1.5em;
    font-family: lato, arial, helvetica, sans-serif;
    text-align: center;
    color: #344D90;
	background: #E7552C;
	width: 18%;	
	padding: 10px;
    margin: 20px;
	border-radius: 6px;
}
/* unordered list styles */
ul {
    border: 4px #344D90 solid;
    padding: 30px;
    color: #344D90;
    font-weight: 800;
    font-style: italic;
    line-height: 1.5em;
    }
/* paragraph styles */
p {
    display: block;
    align-items: center;
    line-height: 1em;
    font-size: 1.25em;
    font-family: lato, arial, helvetica, sans-serif;
    color: #344D90;
    background: #FFB745;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
   	}
form.register {
    display: block;
    color: #344D90;
    background: #FFB745;
    font-family: lato, arial, helvetica, sans-serif;
    margin-bottom: 2em;
    text-align: left;
    border-radius: 8px;
    padding: 10px;
    width: 48%;
}
form.register fieldset {
    border: 4px #344D90 solid;
    padding: 30px;
}
form.register legend {
    font-weight: bold;
    font-size: 2em;
}
form.register label {
    font-size: 1.2em;
    padding-right: 60px;
}
form.register label.fixedwidth {
    display: block;
    width: 240px;
    float: left;
}
input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #344D90;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #5CC5EF;
}
/* class selectors */           

.container {
    width: 100em;
    margin-left: auto;          /* This centres the container in the viewport */
	margin-right: auto; 
}   
/*.main {
    display:inline-block;
	font-size: 2em;
    color: #344D90;     
    text-align: center;
    align-content: center;
	border-radius: 8px;
    padding: 5px;
    margin-bottom: 2em;
}*/
.header {
    display: block;
    margin-bottom: 2em;    
    background: #FFB745; 
    text-align: left;
    border-radius: 8px;
    padding: 5px;
}
.imageHeader {
    width: 150px;
    height: 100px;
    border-radius: 6px;
}
.guidelineslist {
    color: #344D90;
    background: #FFB745;
    font-size: 1em;
    font-weight: 900;
    font-style: italic;
    font-family: lato, arial, helvetica, sans-serif;
    text-align: left;
    line-height: 1em;
    padding: 30px;
    align-items: left;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 12px;
}
.imageAboutVolleyball {
    display: inline-block;
    align-content: center;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}
.sandBackground {
    display: block;
    border: none;
    padding: 30px;
    text-align: center;
    background-image: url("images/sand.jpg");
    border-radius: 12px;
    margin-bottom: 2em;
  }
.imageHomepage {
    display: inline-block;
    width: 40%;
    height: 40%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.netBackground {
    display: block;
    border: 40px;
    padding: 30px;
    align-content: center;
    background-image: url("images/beachNet.jpg");
    border-radius: 12px;
    margin-bottom: 2em;
}
.homepage {
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 2em;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    color: #5CC5EF;
    background-color: #E7552C;
    border: 4px solid white;
    padding: 16px 32px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    width: 600px;
    border-radius: 12px;
}
.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.button:hover {
    background-color: white; 
    color: #333A56;
}
.button:active {
  background-color: steelblue;
  box-shadow: 0 5px #666;
  transform: translateY(8px);
}
.contactlist {
    color: #344D90;
    background: #FFB745;
    font-family: lato, arial, helvetica, sans-serif;
    font-size: 1.8em;
    font-weight: 900;
    font-style: italic;
    float: right;
    text-align: left;
    line-height: 2.5em;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 30px;
}     
img {
    margin: 0.5em;
    border-radius: 6px;
    align-content: center;

}    
/* id styles */
#search {
    position: absolute;
    top: 20px;
    right: 1px;
    color: #344D90;
    font-family: lato, arial, helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold
}
#footer {
    color: #344D90;
    background: #FFB745;
    font-size: 0.6em;
    text-align: center;
    align-items: center;
    border-radius: 6px;
}

/* adjacent sibling selector
h1 + h2 {                     Only affects h2 that comes directly after h1
    margin-top: 2em; 

}
